.P0{
    width: 100%;
}
.anuncio{
    margin: 20px;
}

.card {
    margin-top: 20px;
    margin-right: 20px;
}

.imagemAvatar{
    border-radius: 65%;
    width: 70%;
    align-content: center;
    margin-left: 17%;
    margin-top: 10%;
}

.imagemMiniAvatar {
   border-radius: 65%;
    width: 75%;
    width: 70px;
    height: 70px; 
}

.size{
    width: 50%;
}

.bg-info{
    color: white;
}
.nome{
    color: white;
}
#testeira{
    background-image: linear-gradient(to bottom right, rgb(62, 227, 233), rgb(13, 109, 173));
    color: white;
}
#teste2{
    background-image: linear-gradient(to bottom right, rgb(62, 227, 233), rgb(13, 109, 173));
    color: white;
}

.postTexto {
    margin-left: 10px;
}

.user{
    width: 100%;
    border-radius: 100%;

}
.col-md-2{
    padding-right: 0% ;
}
.nomeUser{
    font-size: 15px;
    text-align: center;
}