.P0{
    padding: 0%;
}
.anuncio{
    margin: 2%;
}

.Imagem{
    border-radius: 65%;
    width: 75%;
    width: 70px;
    height: 70px;
}

.size{
    width: 50%;
}

.bg-info{
    color: white;
}
.nome{
    color: white;
}
#testeira{
    background-color: rgb(184, 207, 202);
}
#teste2{
    background-color: rgb(188, 236, 245);
}

.postTexto {
    margin-left: 10px;
}

.botao {
    
}