<div class="row">
    <div class="col-md-2"></div>
    <!-- Fixo Esquerdo -->
    <div class="col-md-3 card" style="width: 15rem;">
        <img class="card-img-top imagemAvatar" src="../../../assets/imagens/Avatar.png" alt="Avatar">
        <div class="card-body">
            <p class="card-text nomeUser">{{ usuario.nome }}</p>
            <p class="nomeUser">{{ usuario.email }}</p>
        </div>
    </div>

    <!-- Pagina -->
    <div class="col-md-6">
        <!--Imput do user-->
        <div class="card mt-3">
            <div class="card-header" id="teste2">
                Quer compartilhar @USER?
            </div>
            <div class="card-body">
                <h5 class="card-title">No que esta pensando?</h5>
                <textarea class="form-control mt-3" id="exampleFormControlTextarea1" rows="3"></textarea>
                <a [routerLink]="'#'" class="btn btn-outline-info mt-2">Postar</a>
            </div>
        </div>

        <!--Conteudo-->
        <div *ngFor="let item of posts">
            <div class="card mt-3">
                <div class="card-header " id="testeira">
                    <div class="row">
                        <div class="col-md-2 P0" id="fotoUser">
                            <img class="imagemMiniAvatar border-dark border" src="{{item.linkimg}}">
                        </div>
                        <div class="col-md-6 postTexto">
                            <h3>@Usuário Id: {{item.idPostagem}}</h3>
                            <h6>{{item.dataInclusao}}</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-body">

                        <h5 class="card-title">{{item.titulo}}</h5>
                        <p class="card-text">{{item.texto}}</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Fixo Direito -->
    <div class="col-md-2">
        <div class="card anuncio mt-3">
            <img class="card-img-top" src="../../../assets/imagens/square.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
                <a [routerLink]="'#'" class="btn btn-outline-dark">Visitar</a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>