.P0{
    width: 100%;
}

.card {
    width: 100%;
    margin: 30px;
}

.imagemAvatar{
    border-radius: 65%;
    width: 100px;
    width:100%;
    text-align: center;
}

.imagemMiniAvatar {
   border-radius: 65%;
    width: 75%;
    width: 70px;
    height: 70px; 
}

.size{
    width: 50%;
}

.bg-info{
    color: white;
}
.nome{
    color: white;
}
#testeira{
    background-color: rgba(23, 163, 184, 0.767);
    color: white;
}
#teste2{
    background-color: rgba(23, 163, 184, 0.767);
    color: white;
}

.postTexto {
    margin-left: 10px;
}

.user{
    width: 50%;
}

.nomeUser{
    font-size: 15px;
    text-align: center;
}

.f{
    padding: 20px;
}
.margin{
    margin-right: 30px;
    margin-right: 30px;
}




