<!-- Sobre Nós -->
<div class="row" id="sobreNos">
    <div class="col-md-6 descricaoSite">
        <div class="row">
            <h1 class="tituloSobreNos">Sobre nós</h1>
            <h2 class="textosn" id="slogan">
               Safe Pet chegou para te conectar com o mundo dos animais de uma forma inovadora.</h2>
            <p class="textosn"> Há mais de 200 milhões de animais em situação de abandono ao redor do mundo, só no Brasil existem cerca de 30
                    milhões. Em contra partida existem pessoas com desejo, capacidade financeira e tempo disponível para adotá-los.
        </div>
    </div>
    <div class="col-md-6" id="testeira">
        <img src="../../../assets/imagens/Logo.png" class="img-fluid logo"
            alt="Logo do site contendo um cachorro e um gato brincando">
    </div>
</div>

<!-- Quem Somos  -->

<div class="row">
    <div class="col-md-12">
        <h1 class="tituloQuemSomos">Quem somos?</h1>
    </div>
</div>

<!-- Fotos -->



<div class="container quemSomos">
    <div class="row" id="vic">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../../assets/imagens/Victoria.jpg" class="fotos">
                        <div class="middle">
                            <div class="text">Victoria Paiva</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8" id="textoVic">

            <p>Meu nome é Victória Paiva Maia de Oliveira, tenho 19 anos , sou apaixonada por animais e sempre
                tive um sonho de ajuda-los de alguma forma ,claro meu plano de quando tinha 7 anos de resgatar
                todos animais de rua do mundo não deu certo , mas por meio desse site posso finalmente começar a
                fazer alguma diferença na vida dos bichinhos , mesmo que não diretamente.</p>
        </div>
    </div>

    <div class="row" id="ge">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/imagens/generosa.jpg" class="fotos">
                        <div class="middle">
                            <div class="text">Generosa Amaral</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="textoGe">

            <p>Estudante de desenvolvimento Web Java. Sou apaixonada por Tecnologia porque é uma área que está a mudando
                o mundo com soluções para grandes problemas que existem na nossa sociedade. É através dela que eu quero
                fazer parte dessa mudança.
        </div>
    </div>

    <div class="row" id="vivi">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/imagens/viviane.jpeg" class="fotos mb-6">
                        <div class="middle">
                            <div class="text">Viviane Scarlatti</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="textoVivi">

            <p>Estudante de Desenvolvimento Web Java na Generation Brasil e formada em Engenharia Ambiental pela UNESP. Apaixonada por tecnologia, inovação e sustentabilidade. 
            Gosto muito de aprender e quero utilizar meus conhecimentos para solucionar os mais diversos problemas.
            </p>
        </div>
    </div>

    <div class="row" id="pe">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../../assets/imagens/pedro.png" class="fotos">
                        <div class="middle">
                            <div class="text">Pedro Menezes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="textoPe">

            <p>Sou apaixonado por inovação tecnológica e acredito que a comunicação é a habilidade comportamental primordial para a resolução de problemas.
                    O desenvolvimento de sistemas me proporciona desafios diariamente, contribuindo para uma constante evolução pessoal e profissional com a resolução dos mesmos.</p>
        </div>
    </div>

    <div class="row" id="thi">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/imagens/thiago.jpg" class="fotos">
                        <div class="middle">
                            <div class="text">Thiago Calegari</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="textoThi">

            <p>Sou programador e encontrei nessa área o ambiente perfeito para integrar tecnologia e comunicação! Através das minhas experiências percebi o poder transformador e o gigantesco impacto de como soluções simples e inteligentes podem contribuir para tornar o mundo um lugar mais fácil e colaborativo para todos.</p>
        </div>
    </div>

</div>