.descricaoSite {
    text-align: center;
    font-size: 100%;
    margin-top: 2%;
    font-size: 110%;
    font-family: 'Catamaran', sans-serif;
}

.card { 
    background-color: #c8b1aa;
    margin-top: 2%;
}

.titulo {
    background-color: fefef4;
    color: #39829b;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 305%;
    margin-top: 2%;
    text-shadow: 2px 2px 5px #758582;
}

.textApresentacao {
    font-size: 80%;
    font-family: 'Catamaran', sans-serif;
    text-align: start;
}

.fotos {
    width: 65%;
    border-radius: 65%;
    margin-top: 6%;
}

