<div class="row">
    <div class="col-md-12">
        <div class="bg-text">
            <h1>Safe Pet</h1>
            <p>A.N.I.+ (ADOÇÃO - NOVIDADE - IMPACTO)</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <img class="fotoTopo" src="../../../assets/imagens/dogcat.jfif" alt="Um cão e um gato juntos">
            </div>
        </div>
    </div>
</div>

<!--Conteudo-->
<div *ngFor="let item of post">
    <div class="card mt-3">
        <div class="card-header " id="testeira">
            <div class="row">
                <div class="col-md-12 postTexto btn-group">
                    <h3>{{this.usuario.nome}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-body">
                <p class="card-text">{{item.postConteudo}}</p>
            </div>
        </div>
    </div>
</div>