<div class="container-fluid">

        <div class="row ">
<div class="col-md-12 d-flex justify-content-center mt-4-5">
        <div class="flip-card center">
                <div class="flip-card-inner rounded-circle">
                    <div class="flip-card-front col-md-12 p-0 rounded-circle d-flex justify-content-center align-items-center border border-dark">
                        <img class="fotoPerfil p-0 img-fluid rounded-circle border border-dark "  src="{{ this.usuario.foto }}"
                            alt="">
                    </div>
                    <div class="flip-card-back rounded-circle d-flex justify-content-center align-items-center border border-dark bg-azulClaro2 textoPadrao">
                        <h1>{{this.usuario.nome}}</h1>
                    </div>
                </div>
            </div>
</div>
           
    
            <div class="col-md-12 p-0 fotoTopo">
                <img class="w-100" src="../../../assets/imagens/dogcat.jfif" alt="Um cão e um gato juntos">
            </div>
        </div>
           

<div class="container mt-6 mb-5">
    <div *ngFor="let item of post">
        <div class="card mt-3">
            <div class="card-header bg-azulClaro textoPadrao" id="testeira">
                <div class="row">
                    <div class="col-md-12 postTexto btn-group">
                            <img src="{{this.usuario.foto}}" class="rounded-circle mr-3 border border-primary"
                            width="50" height="50" alt="">
                        <h3>{{this.usuario.nome}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <p class="card-text ml-4">{{item.postConteudo}}</p>
                </div>
            </div>
        </div>
    </div>
</div>