.err{
    color: brown;
}

.btn-info {
    background-color: white; 
    color: black; 
    border: 2px solid rgba(95, 193, 238, 0.753);
  }
  
.btn-info:hover {
    background-color: rgba(95, 193, 238, 0.753);
    color: white;
  }

.gatoimg{
    height: 400px;
    margin-left: 350px;
  }