<div class="row">
    <div class="col-md-2">
        <div *ngFor="let item of animal">
            <div class="card listaAdocao" style="width: 35rem;">
                <img class="card-img-top" src="{{item.adocaoFoto}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{item.adocaoNome}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong> Tipo: </strong>{{item.adocaoTipo}}
                    </li>
                    <li class="list-group-item"><strong> Raça: </strong>{{item.adocaoRaca}}</li>
                    <li class="list-group-item"><strong> Porte: </strong>
                        <div *ngIf="item.adocaoPorte == 'p'">Pequeno Porte</div>
                        <div *ngIf="item.adocaoPorte == 'm'">Porte Médio</div>
                        <div *ngIf="item.adocaoPorte == 'g'">Porte Grande</div>
                    </li>
                    <li class="list-group-item"><strong> Vacinação: </strong>
                        <div *ngIf="item.adocaoVacinacao == true">Vacinado</div>
                        <div *ngIf="item.adocaoVacinacao == false">Não Vacinado</div>
                    </li>
                    <li class="list-group-item"> <strong> Local: </strong>{{item.adocaoLocal}}</li>
                    <li class="list-group-item"><strong> Detalhes: </strong> {{item.adocaoDetalhes}}</li>
                </ul>
            </div>
            <div class="col-md-10"></div>
        </div>
    </div>
</div>