#rodape {
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(52, 154, 223), rgba(99, 180, 218, 0.753));
    font-size: 15px;
    font-family: 'Catamaran', sans-serif;
    height: 0.5%;
    color: white;
}