#rodape {
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(62, 227, 233), rgb(13, 109, 173));
    font-size: 15px;
    font-family: 'Catamaran', sans-serif;
    height: 0.5%;
    color: white;
    margin-top: 20px;
}