<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 forest">
            <img src="../../../assets/imagens/dogs.jpg" alt="" class="Mia">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 forest cor">
            <h1 class="tituloFaq">Como podemos ajudar você?</h1>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5 pad">
            <div class="accordion" id="accordionExample">
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link texto" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Como criar uma senha forte para minha conta do Safe Pet?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <h5>Ao criar uma senha, lembre-se:</h5>

                            <p>- A senha deve ser fácil de lembrar, mas difícil para outras pessoas adivinharem.</p>
                            <p>- A senha do Safe Pet deve ser diferente das senhas que você usa para entrar em outras
                                plataformas.</p>
                            <p>- Senhas longas são mais seguras!</p>
                            <p>- A senha não deve ser seu email, número de telefone ou data de nascimento.</p>
                            <p>- Se vir uma mensagem informando que a senha inserida não é forte o suficiente, tente
                                adicionar caracteres especiais (!/@/#/$/%/&/*). Outra maneira de tornar a senha mais
                                complexa é deixá-la mais longa (ao menos 10 caracteres), com uma frase ou uma série de
                                palavras fáceis de lembrar, mas que ninguém mais conheça.</p>
                        </div>
                    </div>
                </div>
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed texto" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                O que encontro na página inicial?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Sua página inicial é o que você vê ao entrar no Safe Pet. Ela inclui o Feed de Notícias,
                                que é uma lista atualizada constantemente com as publicações dos seus amigos, as Páginas
                                que você segue e muito mais.</p>
                            <h5>O que você pode fazer:</h5>
                            <p>- Controlar o que você vê no Feed de Notícias.</p>
                            <p>- Pesquisar pessoas e tópicos importantes para você.</p>
                            <p>- Curtir e reagir a publicações no Feed de Notícias.</p>
                        </div>
                    </div>
                </div>
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed texto" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                A Safe Pet possui acessibilidade?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <p>A Safe Pet tem o compromisso de criar uma ótima experiência para todas as pessoas.
                                Conheça os recursos e as tecnologias que ajudam as pessoas com necessidades especiais,
                                como deficiência visual ou auditiva, a aproveitar a Safe Pet ao máximo.</p>
                            <h5>- Como faço para relatar um problema com a Safe Pet e com a tecnologia assistiva que
                                estou usando (por exemplo, leitores de tela, ferramentas de zoom, teclados
                                alternativos)?</h5>
                            <p>Caso esteja enfrentando algum tipo de problema com a tecnologia assistiva utilizada no
                                site, entre em contato com a Safe Pet através do nosso canal de comunicação localizado
                                no final da página.</p>
                            <h5>- Qual é a estrutura de títulos do Feed de Notícias?</h5>
                            <p>O Feed de Notícias tem títulos que você pode acessar usando leitores de tela:</p>
                            <p>A página inicial é um título h1.</p>
                            <p>O Feed de Notícias é um título h2 e marca o início das suas histórias do Feed de
                                Notícias.</p>
                            <p>Solicitações de amizade, mensagens e notificações são títulos h3 que aparecem quando você
                                clica em um dos ícones.
                            </p>
                            <p>A barra lateral de bate-papo é um título h4, assim como os subtítulos para favoritos,
                                grupos, amigos, aplicativos e outros recursos populares.
                                Histórias individuais do Feed de Notícias têm títulos h5.</p>
                            <p>Os anúncios têm títulos h6.</p>
                        </div>
                    </div>
                </div>
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="heading4">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed texto" type="button" data-toggle="collapse"
                                data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                A Safe Pet usa navegação segura (HTTPS)?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Sim. A navegação segura (HTTPS) é um recurso de segurança que criptografa automaticamente
                                sua conexão com a Safe Pet. Isso ajuda a proteger sua conta, dificultando para qualquer
                                pessoa acessar as informações da Safe Pet sem a sua permissão.
                                Uma conexão segura é necessária para se conectar ao Safe Pet e não pode ser desativada.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="heading5">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed texto" type="button" data-toggle="collapse"
                                data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                Como faço para manter minha conta da Safe Pet segura?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                        <div class="card-body">
                            <h5>Veja algumas dicas do que você pode fazer para manter sua conta segura:</h5>
                            <p>- Não use sua senha da Safe Pet em outros locais online e nunca compartilhe-a com outras
                                pessoas.</p>
                            <p>- Sua senha deve ser difícil de adivinhar. Por isso, não inclua seu nome ou palavras
                                comuns.</p>
                            <p>- Sempre verifique a URL do site antes de digitar suas informações de login.</p>
                            <p>- Saia da sua conta da Safe Pet ao usar um computador que esteja compartilhando com
                                outras pessoas</p>
                            <p>- Não aceite solicitações de amizade de desconhecidos</p>
                            <p>- Conheça os sinais de um computador ou dispositivo infectado e saiba como remover o
                                software mal-intencionado.</p>
                            <p>- Mantenha seu navegador da web atualizado e remova aplicativos suspeitos ou complementos
                                do navegador.</p>
                            <p>- Nunca clique em links suspeitos, mesmo que pareçam ser de amigos ou de empresas que
                                você conheça.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 pad">
            <div class="accordion" id="accordionExample2">
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="heading6">
                        <h2 class="mb-0">
                            <button class="btn btn-link texto" type="button" data-toggle="collapse"
                                data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                Quero adotar! Como eu faço? Como divulgo animais para adoção?
                            </button>
                        </h2>
                    </div>

                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample2">
                        <div class="card-body">
                            <p>Para adotar, procure as publicações de usuários que divulgaram animais para adoção e
                                entre em contato com o anunciante.</p>
                            <p>Para divulgar, faça uma publicação no Feed com a imagem do animal, características,
                                localização e contato. Aguarde até que um usuário interessado entre em contato.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="heading7">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed texto" type="button" data-toggle="collapse"
                                data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                Gostaria de ajudar um animal financeiramente. Como eu faço?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample2">
                        <div class="card-body">
                            <p>Você pode contribuir financeiramente ou participar de trabalhos voluntários em ONGs
                                parceiras.</p>
                        </div>
                    </div>
                </div>
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="heading8">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed texto" type="button" data-toggle="collapse"
                                data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                Como funciona o programa de pontos? Quais as recompensas?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample2">
                        <div class="card-body">
                            <p>Você ganhará pontos ao divulgar animais para adoção, adotar, ou ajudar financeiramente ou
                                com trabalhos voluntário em ongs parceiras. Você poderá trocar esses pontos por
                                descontos em nossos parceiros.</p>
                        </div>
                    </div>
                </div>
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="heading9">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed texto" type="button" data-toggle="collapse"
                                data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                Com qual frequência devo postar? Qual a melhor hora?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample2">
                        <div class="card-body">
                            <p>Não existe um número estipulado de frequências, o importante é que o conteúdo seja
                                relevante e que esteja de acordo com objetivo, a proposta da rede social e que seja
                                atraente para o público. </p>
                            <p>Não existe melhor horário para publicar, tudo dependerá do grau de importância e do tempo
                                de feedback que você como usuário deseja ter com a postagem. A melhor forma de
                                descobrir, é testar e postar em horários e dias diferentes e analisar a influência que
                                existe nesses horários.</p>
                        </div>
                    </div>
                </div>
                <div class="card espaco border-info">
                    <div class="card-header backColor" id="heading10">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed texto" type="button" data-toggle="collapse"
                                data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                Posso vender animais por aqui? É cobrada alguma taxa?
                            </button>
                        </h2>
                    </div>
                    <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample2">
                        <div class="card-body">
                            <p>Não! Porque é uma Rede Social apenas para adoção de animais e não comercialização dos
                                mesmos.</p>
                            <p>Não é cobrada qualquer taxa tanto para a publicam ou para quem estiver interessado em
                                adotar os animais.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form>
                <div class="form-group margPergunta cor">
                    <label for="exampleFormControlTextarea1">
                        <h4>Envie sua mensagem:</h4>
                    </label>
                    <textarea class="form-control border-info" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </form>
            <button type="submit" class="btn btn-info texto">Enviar</button>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-12 forest">
            <img src="../../assets/imagens/forest.jpg" alt="" class="forest">
        </div>
    </div>

</div>