<!-- Menu do site -->
<nav class="navbar estilo navbar-expand-lg navbar-light border-bottom border-dark">
    <!-- Nosso logo -->
    <img class="Imagem tm" src="../../../assets/imagens/Logo.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Itens do Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="hm" [routerLink]="'/Home'">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cont" [routerLink]="'#'">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sn" [routerLink]="'/SobreNos'">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bi" [routerLink]="'/BuscaId'">BuscaId</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="form" [routerLink]="'/Formulario'">Formulario</a>
            </li>
            <li class="nav-item">
                <!-- Botão para acionar modal -->

                <a class="nav-link" id="form" data-toggle="modal" data-target="#modalExemplo"
                    [routerLink]="'#'">Cadastrar-se</a>
            </li>
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault01">Nome completo</label>
                                    <input type="text" class="form-control" [(ngModel)]="nome"
                                        [ngModelOptions]="{standalone: true}" placeholder="Nome" required (keyup)="validacao();"><span
                                        *ngIf='erroNome' class="err">{{erroNome}}</span>
                                </div>
                               
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefaultUsername">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="EX: usuario@email.com"
                                            aria-describedby="inputGroupPrepend2" [(ngModel)]="email"
                                            [ngModelOptions]="{standalone: true}" required (keyup)="validacao();">
                                    </div>
                                    <span *ngIf='erroEmail' class="err">{{erroEmail}}</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault05">Telefone</label>
                                    <input type="text" class="form-control" [(ngModel)]="numero"
                                        [ngModelOptions]="{standalone: true}" placeholder="Numero" required (keyup)="validacao();"><span
                                        *ngIf='erroNum' class="err">{{erroNum}}</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault03">Senha</label>
                                    <input type="password" class="form-control" [(ngModel)]="senha" 
                                        [ngModelOptions]="{standalone: true}" placeholder="Ex:123456789@" required (keyup)="novaFuncao();" (keyup)="validacao();">                                       
                                        <span *ngIf='erroSenha' class="err">{{erroSenha}}</span>
                                        <span *ngIf='senhaForte' class="forte">{{senhaForte}}</span>
                                        <span *ngIf='senhaFraca' class="fraca">{{senhaFraca}}</span>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault04">Confirmar senha</label>
                                    <input type="password" class="form-control" [(ngModel)]="cSenha"
                                        [ngModelOptions]="{standalone: true}" placeholder="Ex:123456789@" required (keyup)="validacao();"><span
                                        *ngIf='erroCSenha' class="err">{{erroCSenha}}</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" (click)= "validacao2();">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Feed
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="'#'">Configurações</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="'#'">Mensagens</a>
                </div>
            </li>
        </ul>

        <!-- Barra de Pesquisa -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar por Id" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
        </form>

    </div>
</nav>
<!--(click)="procurarId()"-->
<!-- [(ngModel)]="id"  -->