<!-- Menu do site -->
<nav class="navbar estilo navbar-expand-lg navbar-light ">
    <!-- Nosso logo --> 
    <img class="Imagem logo" src="../../../assets/imagens/Logo.png" [routerLink]="''">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Itens do Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div *ngIf="condition == 0"> 
                <li class="nav-item">
                    <a class="nav-link" id="hm" [routerLink]="'/home'">Home <span class="sr-only">(current)</span></a>
                </li>
            </div>
            <div *ngIf="condition == 0">
                <li class="nav-item">
                    <a class="nav-link" id="bi" [routerLink]="'/buscaid'">Perfil</a>
                </li>
            </div>
            <li class="nav-item">
                <a class="nav-link" id="sn" [routerLink]="'/sobrenos'">Sobre Nós</a>
            </li>
            <div *ngIf="condition == 0">
                <li class="nav-item">
                    <a class="nav-link" id="form" [routerLink]="'/formulario'">Ficha de Adoção</a>
                </li>
            </div>
            <div *ngIf="condition == 0">
                    <li class="nav-item">
                        <a class="nav-link" id="form" [routerLink]="'/listagemadocao'">Adote um Animal</a>
                    </li>
                </div>
            <div *ngIf="condition == 0">
                <li class="nav-item">
                    <a class="nav-link" id="form" [routerLink]="'/queroajudar'">Quero Ajudar</a>
                </li>
            </div>
            <li class="nav-item">
                <a class="nav-link" id="bi" [routerLink]="'/centralajuda'">FAQ</a>
            </li>

          
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <!-- Button trigger modal -->
            <div *ngIf="condition == 1">
                <button type="button" class="btn btn-info text-info corBotao" data-toggle="modal"
                    data-target="#exampleModal">
                    Login
                </button>
            </div>
            <div *ngIf="condition == 0">
                    <button type="button" class="btn btn-info text-info corBotao" (click)='logout();'>
                        Logout
                    </button>
                </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header backgroundLogo textoEntrar">
                            <h5 class="modal-title" id="exampleModalLabel">Entrar no Safe Pet</h5>
                            <img class="Imagem logo2" src="../../../assets/imagens/Logo.png">
                            <button type="button" class="close" id="fechar" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="modal-body">

                            <div class="row form-group" id="emailTexto">

                                <div class="col-md-4">
                                    <label for="exampleInputEmail1">Seu e-mail</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="email" [(ngModel)]="emailLogin" [ngModelOptions]="{standalone: true}"
                                        class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        placeholder="ex: meunome@gmail.com">
                                </div>

                            </div>

                            <div class="row form-group" id="passwordTexto">
                                <div class="col-md-4">
                                    <label for="exampleInputPassword1">Sua senha</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="password" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="senhaLogin" class="form-control" id="exampleInputPassword1"
                                        (keypress)="keyPress($event)" placeholder="ex: 123456789@">
                                </div>
                            </div>

                        </form>
                        <div class="modal-footer">
                            <button type="button" (click)='logar();' class="btn btn-info"
                                data-dismiss="modal" id="logar">Entrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</nav>