.estilo{
    background-image: linear-gradient(to bottom right, rgb(62, 227, 233), rgb(6, 51, 28));
    font-family: 'Catamaran', sans-serif;
    font-size: 17px;
}

.tm{
    width: 10%;
}
#hm{
    color: white;
}
#bi{
    color: white;
}
#sn{
    color: white;
}
#cont{
    color: white;
}
#form{
    color: white;
}
#navbarDropdown{
    color: white;
}
.btn{
    background-image: linear-gradient(to bottom right, rgb(62, 227, 233), rgb(6, 51, 28));
    color: white;
}

.err {
    color: red;
}

.forte {
    color: green;
}

.fraca {
    color: #EEAD2D;
}

#exampleInputEmail1 {
    margin-bottom: 10px;
}

#emailTexto {
    margin-left: 20px;
}

#passwordTexto {
    margin-left: 20px;
}

.modal {
    background-image: linear-gradient(to bottom right, rgb(62, 227, 233), rgb(6, 51, 28));
}
