#queroAjudar{
    /*background-image: linear-gradient(to bottom left, rgba(99, 180, 218, 0.753), rgb(52, 154, 223) );*/
    background-image: linear-gradient( to bottom ,  #4199b9, #3386aa);

  }
.descricaoSite {
margin-top: 100px;

}

.imgback {

    background-color: white;
}

.forest {
    width: 100%;
    height: 50%;
    padding: 0% 0%;
}


.tituloQueroAjudar {
    background-color: fefef4;
    color: black;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 305%;
    margin-top: 2%;
    margin-left: 135px;
}
  

  

.btn-doacao {
    background-color: white; 
    color: black; 
    border: 2px solid rgba(95, 193, 238, 0.753);
    padding: 3px;
  }
  
.btn-doacao:hover {
    background-color: rgba(95, 193, 238, 0.753);
    color: white;
  }

  .doacao {
      margin-top: 0px;
      margin-right: 20px;
      width: 200px;
      margin-left:100px ;

  }

  #doar{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 200px;

  }

  #dodado {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
  }
  

  #arrecadado {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;

  }

  .card-header {
      background-color: rgb(187, 232, 238);
  }

  .card-text {
      color: black;

  }

  .card {
      width: 500px;
  }
  
  .ajuda{
      color: white;
      font-size: 20px;
      margin-right: 10px;
      margin-top: 25px;
  }

.peixe {
    padding: 0px;
    opacity: 0.5;
}

#testeira {
    padding: 0px;
}

.col-md-12 {
    padding: 0px;
}