<div class="container-fluid">

    <div class="row" id="queroAjudar">
        <div class="col-md-6" id="testeira">
            <img src="../../../assets/imagens/cachorropintado.gif" class="img-fluid logo"
                alt="">
        </div>
        <div class="col-md-6 descricaoSite">
            <div class="row">
                <h1 class="tituloQueroAjudar">Quero Ajudar</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nihil explicabo facere dicta
                    accusamus laborum consequuntur blanditiis eos magni consequatur. Eius laborum magni saepe nemo rem
                    vitae repudiandae tenetur mollitia? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Veritatis dolore consequuntur alias quo ex voluptatum accusamus reiciendis qui exercitationem.
                    Vitae, labore porro deleniti nam pariatur natus? Cum quasi asperiores Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Sint accusamus dolor inventore omnis ea amet nostrum ut sit provident
                    excepturi esse impedit obcaecati aliquid alias quis, temporibus deleniti non adipisci. Lorem ipsum
                    dolor, sit amet consectetur adipisicing elit. Doloribus libero minima quasi placeat enig elit. Unde
                    ratione perferendis molestiae accusamus omnis quod optio doloremque, incidunt ab ipsum beatae
                    officiis dignissimos necessitatibus modi voluptatibus dicta perspiciatis ipsam deleniti!Lorem </p>
            </div>
        </div>
    
    </div>



    <div class="row">
        <!-- Faça a sua doação -->
        <div class="col-md-6">
            <input type="text" class="doacao" [(ngModel)]="valorArrecadado" placeholder="Ex: R$ 100,00">
            <button class="btn btn-doacao" (click)="doacao();">Doar</button>
        </div>

        <!-- Valor Arrecadado -->
        <div class="col-md-6" id="arrecadado">
            <div class="card text-center">
                <div class="card-header">
                    Valor Arrecadado
                </div>
                <div class="card-body">
                    <p class="card-text">R$: {{valorTotal}},00</p>
                </div>
            </div>
        </div>
    </div>


</div>