body{
    background-color: #ffffff;
}

/* Classe que centraliza qualquer Div */
.center{
    display: flex;
    justify-content: center;
}
/* Classe que centraliza qualquer Texto */
.CT{
    text-align: center;
}