<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" id="testeira">
                <img src="../../assets/testeira.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <form>
            <div class="form-row mt-5">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Nome</label>
                    <input type="text" class="form-control" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" placeholder="Nome" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Sobrenome</label>
                    <input type="text" class="form-control"  [(ngModel)]="sobreNome" [ngModelOptions]="{standalone: true}"
                    placeholder="Sobrenome" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefaultUsername">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">@</span>
                        </div>
                        <input type="text" class="form-control" 
                            placeholder="EX: usuario@email.com" aria-describedby="inputGroupPrepend2" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault03">Cidade</label>
                    <input type="text" class="form-control"  [(ngModel)]="cidade"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Cidade" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationDefault04">Estado</label>
                    <input type="text" class="form-control"  [(ngModel)]="estado"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Estado" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationDefault05">Numero</label>
                    <input type="text" class="form-control"  [(ngModel)]="numero"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Numero" required>
                </div>
            </div>
            <label for="validationTextarea">Escreva sua mensagem:</label>
            <textarea class="form-control "  [(ngModel)]="texto" [ngModelOptions]="{standalone: true}" placeholder="Digite aqui..." required></textarea>
            <button class="btn btn-outline-dark my-2 mt-2" (click)="VeriF();" id="BTn">Enviar</button>
        </form>
    </div>
</div>