<div class="row">
    <div class="col-md-12" id="testeira">
        <img src="../../assets/testeira.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="titulo">Sobre nós</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 sobre">
        <p>Há mais de 200 milhões de animais em situação de abandono ao redor do mundo e no Brasil existem 30
            milhões. Em contra partida existem pessoas com desejo, capacidade financeira e tempo para adotar
            animais.</p>
        <p>Para conectar esses dois mundos, a nossa startup veio para suprir essa demanda de ambas as
            partes, criando assim um vínculo amoroso entre esses polos.</p>

    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="titulo">Quem somos?</h1>
    </div>
</div>

<div class="row textApr" id="card">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <p>
            <a class="center" data-toggle="collapse" href="#collapseExample1" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <img src="../../assets/square.jpg" alt="" class="fots">
            </a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a class="center" data-toggle="collapse" href="#collapseExample2" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <img src="../../assets/square.jpg" alt="" class="fots">
            </a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a class="center" data-toggle="collapse" href="#collapseExample3" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <img src="../../assets/square.jpg" alt="" class="fots">
            </a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a class="center" data-toggle="collapse" href="#collapseExample4" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <img src="../../assets/square.jpg" alt="" class="fots">
            </a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a class="center" data-toggle="collapse" href="#collapseExample5" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <img src="../../assets/square.jpg" alt="" class="fots">
            </a>
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                Meu nome é Victória Paiva Maia de Oliveira, tenho 19 anos , sou apaixonada por animais e sempre
                tive um sonho de ajuda-los de alguma forma ,claro meu plano de quando tinha 7 anos de resgatar
                todos animais de rua do mundo não deu certo , mas por meio desse site posso finalmente começar a
                fazer alguma diferença na vida dos bichinhos , mesmo que não diretamente.
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
                Sou Generosa Amaral tenho 28 anos, formada em Administração e atualmente sou estudante
                        do Bootcamp de desenvolvimento Web Java Junior da Generation Brasil. Sou apaixonada por tecnologia 
                       por ser uma área que está a mudar o mundo e que ajuda a resolver problemas que existem na sociedade.
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="collapse" id="collapseExample3">
            <div class="card card-body">
                Sou a Viviane Scarlatti, tenho 23 anos. Sou estudante de Desenvolvimento Web Java na Generation Brasil e formada em Engenharia Ambiental pela UNESP. Apaixonada por tecnologia, inovação e sustentabilidade. Gosto de utilizar meus conhecimentos para solucionar os mais diversos problemas.
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="collapse" id="collapseExample4">
            <div class="card card-body">
                Sou apaixonado por animais e tecnologia, e através deste site quero facilitar a interação entre animais que necessitam de um lar, e pessoas que podem possibilitar uma boa vida a eles.
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="collapse" id="collapseExample5">
            <div class="card card-body">
                Formado em Letras pela Universidade de São Paulo e grande entusiasta
                        da área de tecnologia.
                        Por meio dos conhecimentos obtidos através do ambiente acadêmico (no
                        qual fui apresentado à disciplina Linguística Computacional)
            </div>
        </div>
    </div>
</div>