<div class="row forest">
    <div class="col-md-6 margem">


    </div>

    <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
                <div class="txt">
                    <p>Bem vind@s a</p>
                    <p>Safe Pet!</p>
                    <img class="birds" src="../../../assets/imagens/birds.gif" alt="">
                </div>
            </div>
            <div class="card-body smb">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationDefault01">Nome completo</label>
                        <input type="text" class="form-control" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}"
                            placeholder="Nome" required (keyup)="validacao();"><span *ngIf='erroNome'
                            class="err">{{erroNome}}</span>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationDefaultUsername">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="ex:usuario@email.com"
                                aria-describedby="inputGroupPrepend2" [(ngModel)]="email"
                                [ngModelOptions]="{standalone: true}" required (keyup)="validacao();">
                        </div>
                        <span *ngIf='erroEmail' class="err">{{erroEmail}}</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationDefault05">Telefone</label>
                        <input type="text" class="form-control" [(ngModel)]="numero"
                            [ngModelOptions]="{standalone: true}" placeholder="Número com DDD" required
                            (keyup)="validacao();"><span *ngIf='erroNum' class="err">{{erroNum}}</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault03">Senha</label>
                        <input type="password" class="form-control" [(ngModel)]="senha"
                            [ngModelOptions]="{standalone: true}" placeholder="ex:123456789@" required
                            (keyup)="novaFuncao();" (keyup)="validacao();">
                        <span *ngIf='erroSenha' class="err">{{erroSenha}}</span>
                        <span *ngIf='senhaForte' class="forte">{{senhaForte}}</span>
                        <span *ngIf='senhaFraca' class="fraca">{{senhaFraca}}</span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault04">Confirmar senha</label>
                        <input type="password" class="form-control" [(ngModel)]="cSenha"
                            [ngModelOptions]="{standalone: true}" placeholder="" required (keyup)="validacao();"><span
                            *ngIf='erroCSenha' class="err">{{erroCSenha}}</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 md-3">
                        <div *ngIf(linkImg)>
                            <img src="{{linkImg}}" alt="" class="fotoPerfil">
                        </div>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="validationDefault05">Link da Foto</label>
                        <input type="text" class="form-control" [(ngModel)]="linkImg"
                            [ngModelOptions]="{standalone: true}" placeholder="Link da foto de perfil" required>
                    </div>
                </div>
                <div class="form-row">
                    <button type="button" class="btn btn-info" (click)="validacao2();">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</div>