<div>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-text">
                <h1>Safe Pet</h1>
                <p>A.N.I.+ (ADOÇÃO - NOVIDADE - INOVAÇÃO)</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <img class="fotoTopo" src="../../../assets/imagens/dogcat.jfif" alt="Um cão e um gato juntos">
                </div>
            </div>
        </div>
    </div>

    

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 forest">
                <img src="../../../assets/imagens/forest.jpg" alt="" class="forest">
            </div>
        </div>
    </div>
</div>